main {
    background: url(../../assets/home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.main-container {
    width: 100%;
    padding: 10px;
    cursor: default;
    user-select: none;
}

h1 {
    font-weight: 700;
    color: var(--white);
    text-shadow: 1px 2px 4px var(--black-transparent);
    line-height: 1.2;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 60px;
    }
}

@media screen and (min-width: 768px) {
    .main-container {
        max-width: 735px;
        position: absolute;
        right: 1%;
    }

    h1 {
        font-size: 70px;
    }
}

@media screen and (min-width: 992px) {
    .main-container {
        max-width: 840px;
        position: absolute;
        right: 1%;
    }
}
